<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Special Contact Form</title>
</head>
<body>
	<h2>Contact Form</h2>

	<form method="post" name="My Contact Form 7" action="/" id="myForm" @submit.prevent="sendForm" ref="formTag" data-netlify="true">
	<p>
		<label for="name">Name:</label>
		<input type="text" name="name" id="name" v-model="name">
	</p>
	<p>
		<label for="email">Email:</label>
		<input type="email" name="email" id="email" v-model="email">
	</p>
	<p>
		<label for="comments">Comments:</label><br/>
		<textarea name="comments" id="comments" v-model="comments"></textarea>
	</p>
	<p>
		<input type="submit">
	</p>
	</form>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
const app = new Vue({
	el:'#myForm',
	data:{
		name:'',
		email:'',
		comments:''
	},
	methods:{
		encode(data) {
			// Credit - Brian Rinaldi at https://www.stackbit.com/blog/complete-guide-netlify-forms/
   			return Object.keys(data)
			.map(key => encodeURIComponent(key) + "=" + encodeURIComponent(data[key]))
			.join("&");
		},
		async sendForm() {
			let target = this.$refs.formTag.action;
			let formName = this.$refs.formTag.getAttribute('name');

			let fd = {
				'name':this.name,
				'email':this.email,
				'comments':this.comments,
				'form-name':name
			};
			
			//let encodedForm = this.encode(fd);
			//console.log(encodedForm);
			/*
			let formData = new FormData();
			formData.append('name', this.name);
			formData.append('email', this.email);
			formData.append('comments', this.comments);
			formData.append('form-name', formName);
			console.log(formData);
			*/
			/*
			let resp = await fetch('/', {
				method:'POST',
				headers: { 
					'Content-Type': 'application/x-www-form-urlencoded' 
				},
				body:encodedForm
			});
			*/

/*
			let resp = await fetch('/', {
				method:'POST',
				body:formData
			});
			*/ 

		    let myForm = document.getElementById('myForm');
			let formData = new FormData(myForm)
			fetch('/', {
				method: 'POST',
				body: formData
			})
			.then(() => alert('success!'))
			.catch((error) => alert(error))

//'name=ray&form-name=Contact+Form'
//			let data = await resp.json();
//			console.log(data);
		}
	}
});

</script>

</body>
</html>